<div class="container mt-4">
  <h2 class="mb-4">📊 Gráficas</h2>

  <div class="row">
    <div class="col-lg-6">
      <app-pie-orders-restaurant></app-pie-orders-restaurant>
      <app-pie-orders-status></app-pie-orders-status>
      <app-pie-payment-methods></app-pie-payment-methods>
    </div>

    <div class="col-lg-6">
      <app-bar-orders-per-day></app-bar-orders-per-day>
      <app-bar-products-most-sold></app-bar-products-most-sold>
      <app-bar-drivers-activity></app-bar-drivers-activity>
    </div>

    <div class="col-lg-12">
      <app-line-deliveries-per-month></app-line-deliveries-per-month>
      <app-line-income-per-month></app-line-income-per-month>
      <app-line-avg-delivery-time></app-line-avg-delivery-time>
    </div>
  </div>
</div>