.notif-bell {
  position: relative;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #f5365c;
  color: #fff;
  border-radius: 50%;
  font-size: 11px;
  padding: 2px 6px;
}
